/* vertical aligning */
.root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(248, 249, 250);
}

.header {
  width: 99%;
  /* min-width: 1100px; */
  min-height: 40px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(244, 247, 250);
  opacity: .9;
  padding: 5px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
    box-shadow: 0.2px 0.2px 3px #888888;
  border-radius: 2px;
}

.header__logo {
  width: 350px;
  margin-left: 7%;
}

/* horizontal aligning */
#wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  /* width: 100%; */
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.main {
  flex: 1;
}

/*menu* -------------------------------------*/
.menu_main {
  display: flex;
  /* flex-basis: 800px; */
}

.menu__list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.menu__item {
  display: inline-block;
  margin-right: 25px;
}
.menu__item:last-child {
  margin: 0;
}
.menu__item_lib {
  min-width: 175px;
  text-align: center;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin: 0;
}

.menu__item:hover {
  /* background-color: rgb(255, 255, 255); */
  /* border: 1px solid grey; */
  /* border-radius: 4px; */
}
.menu__link {
  min-width: 180px;
  text-decoration: none;
  color: rgb(105, 105, 105);
  font-weight: 400;
  font-size: 20px;
  padding: 15px;
}
.menu__link:hover {
  text-decoration: underline;
}

/*submenu - - - - - - - */
.submenu {
  display: none;
}
.submenu__wrap {
  display: inline-block;
  position: relative;
}
.submenu_list {
  position: absolute;
  top: 35px;
  left: 15px;
  padding: 5px;
  /* background-color: rgb(192, 227, 228); */
  box-shadow: 0px 2px 3px #888888;
  border-radius: 7px;
  z-index: 2;
  background-color: white;
  opacity: .9;
}
.submenu__item {
  width: max-content;
  list-style: none;
  padding: 8px;
}
.submenu__link {
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-weight: 400;
  font-size: 18px;
  padding: 12px;
}
.submenu__link:hover {
  /* font-weight: 500; */
  text-decoration: underline;
}

.submenu_active {
  /*active*/
  display: block;
  margin: 0;
  padding: 0;
}

/* f o o t e r ------------------------ */
.footer {
  flex-shrink: 0;
}
